
body {
    max-width: 100%;
    margin: 0 auto;
    font-size: 16px;

    img {
        max-width: 100%;
    }
}

/*--------------------------------------------------------------

about-meta

--------------------------------------------------------------*/
.about-meta {
    background-color: #fffbec;
    width: 100%;
    margin-bottom: 100px;
}

.section-title {
    width: 60%;
    background-color: #2070AD;
    color: #fff;
    border-radius: 0 50px 50px 0;
    text-align: center;
    padding: 25px 5px;
    margin-bottom: 50px;
}

.bg-contents {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 0;
    overflow: hidden;

    &::before {
        content: "";
        background-image: url(../img/meta-img.png);
        background-position: center;
        background-size: cover;
        filter: blur(2px);

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;

    }

    .top-text {
        width: 60%;
        background-color: #fff;
        border: 2px solid #222;
        padding: 35px 20px 35px 60px;
        font-size: 20px;
        font-weight: bold;

        position: absolute;
        top: 37%;
        left: 0;
        max-width: 500px;

    }

    span {
        font-weight: bold;
        font-size: 24px;
        display: inline-block;
    }

    .second-text {
        position: absolute;
        bottom: 20%;
        left: 3%;

        color: #fff;
        font-weight: bold;
        font-size: 20px;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.41);
        // text-wrap: wrap;
    }
}

// avaters
.avatars {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 80px 20px;

    img {
        max-width: 100%;
    }
}

.chat-content-left,
.chat-content-right {
    width: 80%;
    display: flex;
    margin-bottom: 40px;
    gap: 30px;
    align-items: center;

    .avatar img {
        max-width: 100px;
    }
}

.chat-content-left {
    justify-content: flex-start;
    margin-left: 0;
}

.chat-content-right {
    margin-left: auto;
    justify-content: flex-end;
    margin-right: 0;
}

.speech-bubble-left {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    padding: 16px;
    border: 2px solid #000000;
    border-radius: 8px;
    background-color: #d6fdff;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;


    &::before {
        content: "";
        position: absolute;
        top: 70%;
        left: 0;
        border-style: solid;
        border-width: 10px 20px 10px 0;
        border-color: transparent #000000 transparent transparent;
        translate: -100% -50%;
        transform: skew(0, 15deg);
        transform-origin: right;
    }

    &::after {
        content: "";
        position: absolute;
        top: 70%;
        left: 0;
        border-style: solid;
        border-width: 7.8px 15.5px 7.8px 0;
        border-color: transparent #d6fdff transparent transparent;
        translate: -100% -50%;
        transform: skew(0, 15deg);
        transform-origin: right;
    }
}

.speech-bubble-right {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    padding: 16px;
    border: 2px solid #000000;
    border-radius: 8px;
    background-color: #fff;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;

    &::before {
        content: "";
        position: absolute;
        top: 70%;
        right: 0;
        border-style: solid;
        border-width: 0 0 20px 20px;
        border-color: transparent transparent transparent #000000;
        translate: 100% -50%;
        transform: skew(0, 15deg);
        transform-origin: left;
    }

    &::after {
        content: "";
        position: absolute;
        top: 70%;
        right: 0;
        border-style: solid;
        border-width: 0 0 15.2px 15.2px;
        border-color: transparent transparent transparent #fff;
        translate: 100% calc(-50% - 0.4px);
        transform: skew(0, 15deg);
        transform-origin: left;
    }
}

.speech-bubble-left p,
.speech-bubble-right p {
    font-family: "DotGothic16", sans-serif;
    font-style: normal;
}


// point card
.meta-point {
    margin: 100px auto 0 auto;
    text-align: center;
    max-width: 1200px;


    h3 {
        font-size: 32px;
        margin-top: 50px;
        padding: 0 20px 60px;

    }

    h4 {
        padding: 20px;
        text-decoration: underline;
        text-align: center;
        font-size: 20px;
    }

    p {
        text-align: center;

        p span {
            font-weight: bold;
            text-align: center;
            font-size: 18px;
        }
    }
}


.meta-point-cards {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    max-width: 80%;
    margin: 0 auto;
    flex-wrap: nowrap;


    .point-card {
        flex: 1;
        max-width: 350px;
        background-color: #fff;
        border: 2px solid #008000;
        border-radius: 8px;
        padding: 20px;
        text-align: left;

        // fadeIn settings
        opacity: 0;
        transform: translateY(30px);

        &.is-animated {
            animation: fadeIn 0.8s ease forwards;

            &:nth-child(1) {
                animation-delay: 0s;
            }

            &:nth-child(2) {
                animation-delay: 0.3s;
            }

            &:nth-child(3) {
                animation-delay: 0.6s;
            }
        }

    }

    .point-number {
        color: #FF88C7;
        font-size: 32px;
        font-weight: bold;
    }

    .meta-point-text {
        padding: 0 10px;
    }

}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(200px);
    }

    to {
        opacity: 1;
        transform: rotateY('0');
    }
}


.meta-point-summary {
    font-size: 20px;
    font-weight: bold;
    padding: 80px 0;

}




/*-------------------------------------------------------------------------

responsive

-------------------------------------------------------------------------*/
@media (max-width: 960px) {

    .avatar img {
        margin-top: 15px;
    }

    .meta-point-cards {
        flex-direction: column;
        align-items: center;

    }









    @media (max-width: 600px) {
        .section-title {
            width: 80%;
        }




        .avatars {
            width: 100%;
        }

        .avatar img {
            margin-top: 50px;
        }


        .speech-bubble-left {
            &::before {
                top: 58%;
            }

            &::after {
                top: 58%;
            }
        }

        .speech-bubble-right {
            &::before {
                top: 58%;
            }

            &::after {
                top: 58%;
            }
        }





        .meta-point-cards {
            flex-direction: column;
            align-items: center;
        }

        .point-card {
            width: 90%;
            max-width: 400px;
            margin-bottom: 20px;
        }
    }


    @media (max-width: 375px) {
        .bg-contents {
            width: 100%;
            height: 100vh;
            position: relative;

            .top-text {
                width: 80%;
                padding-left: 30px;

            }

            .second-text {
                position: absolute;
                bottom: 20%;
                left: 15px;
                font-size: 16px;
                color: #000000;
                text-shadow: none;
            }

            .avatar img {
                margin-top: 10px;
            }
        }

    }
}
