/*--------------------------------------------------------------

offline-meetup

--------------------------------------------------------------*/
body {
    max-width: 100%;
    margin: 0 auto;
    font-size: 16px;


    img {
        max-width: 100%;
    }
}
.about-offline-meetup {
    background-color: #fffbec;
}

.contents-text {
    padding: 30px 70px;

    h3 {
        padding: 30px 0;
        font-size: 24px;
    }

    .contents-sub-title {
        margin-bottom: 20px;
    }
}

.text-content-bottom {
    span {
        padding-top: 20px;
    }
}

/*

slider

*/
.slider {
    width: 100%;
    max-width: 100%;
    margin: 30px auto;
}

.slider-top {
    margin-bottom: 40px;
}

// ul スタイルのリセット
.js-slick01,
.js-slick02 {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        padding: 0 5px;
        box-sizing: border-box;

    }

    img {
        height: 250px;
        width: 100%;
        object-fit: cover;
        display: inline-block;
        display: block; // imgの下の余白を削除
    }
}


.slick-list {
    margin: 0 -5px;
}

.text-content-bottom {
    text-align: center;
    padding: 50px 0 30px 0;


    span {
        display: inline-block;
        font-size: 24px;
        font-weight: bold;
                padding-top: 0;
    }
}

.meta-counseling-btn {
    text-align: center;
    a {
        display: inline-block;
        background-color: #EB6846;
        color: white;
        width: 50%;
        padding: 20px 40px;
        margin-bottom: 50px;
        border-radius: 15px;
        font-size: 1.75rem;
        font-weight: 400;
        box-shadow: 0 4px 12px rgba(175, 174, 174, 0.9);
        transition: 0.3s;

        &:hover {
            transform: scale(1.06) translateY(-2px);
            opacity: 0.95;
        }
    }
}


@media (max-width: 960px) {

    .avatar img {
        margin-top: 15px;
    }

    .meta-point-cards {
        flex-direction: column;
        align-items: center;

    }

    @media (max-width: 600px) {
        .section-title {
            width: 80%;
        }

        .avatars {
            width: 100%;
        }

        .avatar img {
            margin-top: 50px;
        }

        .speech-bubble-left {
            &::before {
                top: 58%;
            }

            &::after {
                top: 58%;
            }
        }

        .speech-bubble-right {
            &::before {
                top: 58%;
            }

            &::after {
                top: 58%;
            }
        }

        .meta-point-cards {
            flex-direction: column;
            align-items: center;
        }

        .point-card {
            width: 90%;
            max-width: 400px;
            margin-bottom: 20px;
        }
    }


    @media (max-width: 375px) {
        .bg-contents {
            width: 100%;
            height: 100vh;
            position: relative;

            .top-text {
                width: 80%;
                padding-left: 30px;

            }

            .second-text {
                position: absolute;
                bottom: 20%;
                left: 15px;
                font-size: 16px;
                color: #000000;
                text-shadow: none;
            }

            .avatar img {
                margin-top: 10px;
            }
        }

    }
}