
.about {
  padding-block: 60px;
  width: 100%;
  text-align: center;

  &-title {
    display: inline-block;
    font-size: 42px;
    position: relative;

    &::after {
      content: "";
      background-color: #FFF100;
      width: 100%;
      height: 6px;
      bottom: 0;
      left: 0;
      position: absolute;
    }
  }

  &-subtitle {
    font-size: 16px;
    margin-block: 20px 30px;

    span {
      color: #4B80AA;
      font-weight: bold;
    }
  }

  &-upper {
    width: 90%;
    height: 75vh;
    margin: 0 auto 30px;
    position: relative;
    overflow: hidden;
    border-radius: 48px;

    &-bg {
      width: 100%;
      height: 100%;
      background-image: url(../img/about-image.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      filter: blur(13px);
      border-radius: inherit;
      position: absolute;
    }

    &-textarea {
      p {
        color: #fff;
        position: absolute;
        top: 20px;
        left: 20px;
        line-height: 3;
        letter-spacing: 6px;
        text-align: left;
      }
    }
  }

  .strength {
    font-size: 24px;
    line-height: 1;
    font-weight: bold;
    position: relative;

    &::after {
      content: "";
      background-color: #FFF100;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      position: absolute;
    }
  }

  .support-text {
    font-weight: bold;
  }

  &-bottom {
    width: 100%;
    padding-inline: 5%;

    .about-items {
      display: flex;
      justify-content: space-between;

      .about-item {
        width: 30%;
        text-align: center;
        position: relative;
        opacity: 0;
        transform: translateY(30px);

        &.is-animated {
          animation: fadeIn 0.8s ease forwards;

          &:nth-child(1) {
            animation-delay: 0s;
          }
          &:nth-child(2) {
            animation-delay: 0.3s;
          }
          &:nth-child(3) {
            animation-delay: 0.6s;
          }
        }

        &-text {
          padding: calc(50% - 120px) 0;
          line-height: 36px;
          width: 100%;
          border-radius: 50%;
          margin-bottom: 20px;
          aspect-ratio: 1;
          position: relative;
          font-size: 36px;
          color: #142143;
          font-family: "Yu Mincho", "MS Mincho", serif;
          letter-spacing: 3;
          font-weight: bold;
        }

        .crown {
          position: absolute;
          bottom: 30px;
          left: 0;
          width: 100%;
        }

        .crown-number {
          position: absolute;
          bottom: 15%;
          left: 50%;
          transform: translateX(-50%);
          font-size: 120px;
          background-color: #F0C85A;
          background-clip: text;
          color: transparent;
          font-family: "Yu Mincho", "MS Mincho", serif;
          font-weight: bold;

          .crown-percent {
            font-size: 24px;
            background-color: #F0C85A;
            background-clip: text;
            color: transparent;
            font-family: inherit;
            font-weight: inherit;
          }
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: rotateY(0);
  }
}
