/*--------------------------------------------------------------

offline-meetup

--------------------------------------------------------------*/
body {
    max-width: 100%;
    margin: 0 auto;
    font-size: 16px;


    img {
        max-width: 100%;
    }
}
.about-offline-meetup {
    background-color: #fffbec;
}

.contents-text {
    padding: 30px 70px;

    h3 {
        padding: 30px 0;
        font-size: 24px;
    }

    .contents-sub-title {
        margin-bottom: 20px;
    }
}

.text-content-bottom {
    span {
        padding-top: 20px;
    }
}

/*

slider

*/
.slider {
    width: 100%;
    max-width: 100%;
    margin: 30px auto;
}

.slider-top {
    margin-bottom: 40px;
}

// ul スタイルのリセット
.js-slick01,
.js-slick02 {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        padding: 0 5px;
        box-sizing: border-box;

    }

    img {
        height: 250px;
        width: 100%;
        object-fit: cover;
        display: inline-block;
        display: block; // imgの下の余白を削除
    }
}


.slick-list {
    margin: 0 -5px;
}

// Slickが生成する .slick-slide にデフォルトのマージンを消す
// .slick-slide {
//     margin: 0;
// }

.text-content-bottom {
    text-align: center;
    padding: 50px 0 30px 0;


    span {
        display: inline-block;
        font-size: 24px;
        font-weight: bold;
                padding-top: 0;
    }
}

.meta-counseling-btn {
    text-align: center;
    a {
        display: inline-block;
        background-color: #EB6846;
        color: white;
        width: 50%;
        padding: 20px 40px;
        margin-bottom: 50px;
        border-radius: 15px;
        font-size: 1.75rem;
        font-weight: 400;
        box-shadow: 0 4px 12px rgba(175, 174, 174, 0.9);
        transition: 0.3s;

        &:hover {
            transform: scale(1.06) translateY(-2px);
            opacity: 0.95;
        }
    }
}

/* ==================================================
_header/scss
===================================================== */
// headerレスポンシブ
@media(max-width: 357px) {

    nav li a {
        font-size: 0.75rem;
    }

    nav .counseling-btn a {
        font-size: 0.75rem;
    }
    nav .nav-menu li a {
        padding: 10px;
    }
}



/* ==================================================
_top.scss
===================================================== */

@media(max-width:600px) {
.main-visual {
  justify-content: center;
  padding: 0 0 30% 0;
}
.main-visual .textarea-top {
  text-align: center;
}
.main-visual .textarea-bottom {
  text-align: center;
}
}





/* ==================================================
_problem.scss
===================================================== */
// 問題定義
@media (max-width: 375px) {

    .problem-title::before {
        width: 80%;
        left: 10%;
    }

    .problem-card {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 20px;
        padding: 40px 20px;
    }

    .problem-icon-wrap {
        width: 70%;
        height: 15vh;
    }

    .problem-text p {
        font-size: 0.75rem;
    }

    .problem-sub-title {
        font-size: 1.2rem;
    }
}




/* ==================================================
_about.scss
===================================================== */
@media(max-width:760px) {
  .about-upper {
    height: 55vh;
  }
  .about-upper-textarea p {
    line-height: 2;
    letter-spacing: 0;
    font-size: 12px;
  }
  .strength {
    font-size: 14px;
  }
}












/* ==================================================
_reason/scss
===================================================== */








/* ==================================================
_teachers/scss
===================================================== */
@media screen and (min-width: 769px) {
  
    .teachers-item {
      flex-direction: row;
    }

    .teachers-item:nth-of-type(odd) {
      flex-direction: row-reverse;
    }
  }

/* ==================================================
_voice.scss
===================================================== */
@media screen and (max-width: 768px) {
    .student-card {
    min-width: 90%;
    width: 90%;
    }
}

/* ==================================================
_archive.scss
===================================================== */
@media screen and (max-width: 1024px) {
    .archive-item {
      grid-template-columns: repeat(2, minmax(240px, 1fr)); // 2列×4行
      padding: 0 24px;
      gap: 24px;
    }
  }

  @media screen and (max-width: 768px) {
    .archive-item {
      grid-template-columns: 1fr;
    }
  }



/* ==================================================
_course-flow.scss
===================================================== */
// 受講の流れ
@media (max-width: 375px) {

    .course-row {
        justify-content: space-around;
    }

    .course-title2::before {
        width: 80%;
        left: 10%;
    }

    .course-desc {
        font-size: 0.6rem;
    }

    .course-heading {
        font-size: 0.7rem;
    }

    .number {
        padding-left: 30px;

        &::before {
            left: 93%;
        }
    }

    .number li {
        margin-bottom: 62px;
    }

    .counseling-btn a {
        padding: 10px 20px;
        font-size: 0.6rem;
    }
}





/* ==================================================
_price.scss
===================================================== */
@media(max-width:970px) {
  .price-content {
  padding-inline: 0;
}
.price-upper {
  padding: 30px 0 30px 0;
}
  .price-upper-upper {
    flex-direction: column;
  }
  .upper-left {
    width: 100%;
  }
  .upper-left::after {
    width: 80%;
    height: 1px;
    top: 100%;
    right: 50%;
    transform: translateX(50%);
  }
  .upper-right {
    width: 100%;
  }
  .how-to-pay {
    flex-direction: column;
    justify-content: center;
  }
  .how-to-pay-title {
    margin-bottom: 20px;
    margin: 0 auto 20px auto;
  }
  .price-bottom {
    padding: 30px 3% 30px 3%;
  }
}
@media(max-width:660px) {
  .price {
    padding: 60px 6% 60px 6%;
  }
.upper-right .item-comment p {
  font-size: 16px;
}
  .upper-right .item-price p span {
    font-size: 48px;
  }
 .price-bottom {
  flex-direction: column;
 }
 .price-bottom-left {
  width: 100%;
  margin-bottom: 30px;
 }
 .price-bottom-right {
  width: 100%;
 }
}





/* ==================================================
_counselling-flow.scss
===================================================== */
// カウンセリングレスポンシブ
@media (max-width: 375px) {
    .counseling-title::before {
        width: 90%;
        left: 5%;
    }

    .cou-steps {
        flex-direction: column;
        margin-right: 0;
    }

    .cou-item--center {
        transform: none;
    }
    .cou-item--last {
        margin-right: 0;
    }

    .cou-text {
        font-size: 0.75rem;
    }

    .divider {
        position: relative;
        width: 340px;
        height: 2px;
        background-color: #e8c321;
        margin: 40px auto;
    }

    .divider::after {
        content: "";
        position: absolute;
        bottom: -12px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 60px solid transparent;
        border-right: 60px solid transparent;
        border-top: 30px solid #e8c321;
    }

    .divider::before {
        display: none !important;
    }
}

/* ==================================================
_faq.scss
===================================================== */











/* ==================================================
_footer.scss
===================================================== */
// footerレスポンシブ
@media (max-width: 375px) {
    .footer-inner {
            flex-direction: column;
        }
    
        .footer-left {
            order: 1;
        }
    
        .footer-right {
            order: 2;
        }
    
        .footer-center {
            order: 3;
        }
    }



















/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝下層ページ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

/* ==================================================
_about-meta.scss
===================================================== */
@media (max-width: 960px) {

    .avatar img {
        margin-top: 15px;
    }

    .meta-point-cards {
        flex-direction: column;
        align-items: center;

    }


    @media (max-width: 600px) {
        .section-title {
            width: 80%;
        }

        .avatars {
            width: 100%;
        }

        .avatar img {
            margin-top: 50px;
        }


        .speech-bubble-left {
            &::before {
                top: 58%;
            }

            &::after {
                top: 58%;
            }
        }

        .speech-bubble-right {
            &::before {
                top: 58%;
            }

            &::after {
                top: 58%;
            }
        }





        .meta-point-cards {
            flex-direction: column;
            align-items: center;
        }

        .point-card {
            width: 90%;
            max-width: 400px;
            margin-bottom: 20px;
        }
    }


    @media (max-width: 375px) {
        .bg-contents {
            width: 100%;
            height: 100vh;
            position: relative;

            .top-text {
                width: 80%;
                padding-left: 30px;

            }

            .second-text {
                position: absolute;
                bottom: 20%;
                left: 15px;
                font-size: 16px;
                color: #000000;
                text-shadow: none;
            }

            .avatar img {
                margin-top: 10px;
            }
        }

    }
}



/* ==================================================
_about-offlinemeetup.scss
===================================================== */
@media (max-width: 960px) {

    .avatar img {
        margin-top: 15px;
    }

    .meta-point-cards {
        flex-direction: column;
        align-items: center;

    }

    @media (max-width: 600px) {
        .section-title {
            width: 80%;
        }

        .avatars {
            width: 100%;
        }

        .avatar img {
            margin-top: 50px;
        }

        .speech-bubble-left {
            &::before {
                top: 58%;
            }

            &::after {
                top: 58%;
            }
        }

        .speech-bubble-right {
            &::before {
                top: 58%;
            }

            &::after {
                top: 58%;
            }
        }

        .meta-point-cards {
            flex-direction: column;
            align-items: center;
        }

        .point-card {
            width: 90%;
            max-width: 400px;
            margin-bottom: 20px;
        }
    }


    @media (max-width: 375px) {
        .bg-contents {
            width: 100%;
            height: 100vh;
            position: relative;

            .top-text {
                width: 80%;
                padding-left: 30px;

            }

            .second-text {
                position: absolute;
                bottom: 20%;
                left: 15px;
                font-size: 16px;
                color: #000000;
                text-shadow: none;
            }

            .avatar img {
                margin-top: 10px;
            }
        }

    }
}
