section {
    text-align: center;
}



.counseling-title {
    text-align: center;
    margin-bottom: 60px;
}

.cou-text {
    text-align: center;

    .cou-text1,
    .cou-text2 {
        margin-bottom: 60px;
    }
}
.inner {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}
.cou-steps {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 80px;
}

.cou-item {
    flex: 1 1 0;
    display: flex;            
    flex-direction: column;
    align-items: center;
    position: relative;
}
.cou-item p {
  margin: 0;
}

.cou-item img {
    width: 30%;
    margin-bottom: 40px;
}
.cou-item--last img {
  width: 35%;
}

.steps-text {
    align-items: center;

    a {
        display: inline-block; 
    }
}



.divider {
    position: relative;
    width: 40px;
    height: 140px;

    &::before {
        content: "";
        position: absolute;
        width: 2px;
        height: 35vh;
        background: #F7D232;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    &::after {
        content: "";
        position: absolute;
        border-left: 18px solid #F7D232;
        border-bottom: 30px solid transparent;
        border-top: 30px solid transparent;
        top: 75%;
        left: 75%;
        transform: translate(-50%, -50%);
    }
}

.cou-text3 {
    margin-bottom: 50px;
}

.line-btn {
    display: inline-block;
    margin: 0 auto;
    text-decoration: none;
    color: #333;
    background-color: #B2E9C3;
    padding: 20px 40px;
    border-radius: 15px;

    a {
        color: #333;
    }
}