.course-area {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    
}

.course-title2 {
    position: relative;
    

    &::before {
        content: "";
        position: absolute;
        display:inline-block;
        width: 50%;
        height: 4px;
        background-color: #FFF100;
        
        top: 100%;
        left: 25%;

    }
}

.step {
    display: flex;
    gap: 60px;
    align-items: flex-start;
    margin-top: 80px;
}

.course-text {
    width: calc(100% - 120px);
}

.number {
    padding: 0;
    margin: 0;
    position: relative;
    width: 80px;

    li {
        width: 100px;
        height: 100px;
        background-color: #FFF100;
        border: 4px solid #FFA500;
        border-radius: 50%;
        margin-bottom: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 1.25rem;
        position: relative;
        z-index: 2;
    }

    &::before {
        content: "";
        position: absolute;
        top: 10px;
        left: 45px;
        width: 10px;
        height: 90%;
        background-color: #FFF100;
        z-index: 1;
    }
}

.course-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    gap: 20px;
}

.course-body {
    width: 60%;
}

.course-heading {
    font-weight: 700;
    margin: 10px 0 5px 0;
}

.course-desc {
    line-height: 1.6;
    font-size: 0.95rem;
}

.course-icon img {
    width: 40px;
    height: 40px;
}
.counseling-btn {
        text-align: center;
        margin-top: 50px;

        a {
            display: inline-block;
            background-color: #EB6846;
            color: white;
            margin-top: 30px;
            width: 50%;
            padding: 20px 40px;
            border-radius: 15px;
            font-size: 1.75rem;
            font-weight: 400;
            box-shadow: 0 4px 12px rgba(175, 174, 174, 0.9);
            transition: 0.3s;

            &:hover {
                transform: scale(1.06) translateY(-2px);
                opacity: 0.95;
            }
        }
    }