
.faq_content .accordion_type1 {
    max-width: 1100px;
    margin: 0 auto;
}

.accordion_header_type1 {
    background-color: #ececec;
    color: #0f132a;
    line-height: 2.4;
    letter-spacing: 2;
    padding: 24px 40px 24px 52px;
    transition-duration: 0.2s;
    z-index: 1;
    position: relative;
    cursor: pointer;

&::before {
        content: "Q.";
        font-weight: bold;
        font-size: 1.6rem;
        top: 6px;
        left: 30px;
        position: absolute;
        color: #142143;
        transform: translateX(-50%);
}

.i_box_type1 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    right: 5%;
    margin-top: -20px;

}


.type1_i:before  {
    content: "";
    width : 18px;
    height: 1px;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    background-color: #0f132a;
    position: absolute;
}

.type1_i:after {
    content: "";
    width : 1px;
    height: 18px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    background-color: #0f132a;
    position: absolute;
}

&.open {
    .type1_i{
        &:after {
    display: none;
    padding: 30px 30px;
                }
            }
}
}


.accordion_inner_type1 .box_type1 {
    height: 300px;
    border-left: 2px solid #ececec;
    border-right: 2px solid #ececec;
    border-bottom: 2px solid #ececec;


.txt_b_ac {
    padding: 24px 40px 24px 52px;   
    position: relative;


    &::before {
        content: "A.";
        font-weight: bold;
        font-size: 1.6rem;
        top: 14px;
        left: 30px;
        position: absolute;
        color: #142143;
        transform: translateX(-50%);
    }

}

}
