.footer {
  background-color: #12213A;
  color: #fff;
  padding: 32px 0 16px;
  font-size: 14px;
}
.footer-left img {
  width: 100px;
  height: 100px;
}
.footer-inner {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

/* 左ロゴ */
.footer-logo {
  height: 40px;
}

/* 真ん中テキスト */
.footer-nav {
  margin: 0;
  padding: 0;
}
.footer-center {
  text-align: center;
}

.footer-nav li {
  margin: 0 0 8px 0;
  font-size: 14px;
  color: #fff;
}

/* 右SNSアイコン */
.footer-right {
  display: flex;
  gap: 8px;
}

.sns-icon {
  width: 28px;
  height: 28px;
  object-fit: cover;
}

/* コピーライト */
.copy-right {
  margin-top: 16px;
  font-size: 0.75rem;
  color: #fff;
}


// footerレスポンシブ
@media (max-width: 375px) {
.footer-inner {
        flex-direction: column;
    }

    .footer-left {
        order: 1;
    }

    .footer-right {
        order: 2;
    }

    .footer-center {
        order: 3;
    }
}
