.problem-title {
    text-align: center;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 40%;
        height: 4px;
        background-color: #FFF100;
        top: 100%;
        left: 30%;
    }
}

.problem-title span {
    font-size: 2rem;
}

.problem-card {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 60px;
    display: flex;
}

.problem-icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 170px;
    background: #E1E1E1;
    border-radius: 50%;
    box-shadow: inset 0 20px 60px rgba(0, 0, 0, 0.18);
}


.problem-icon {
    width: 35%;
    height: auto;
    display: block;
}
.problem-item:first-child .problem-icon,
.problem-item:last-child .problem-icon {
    width: 60%;
}

.problem-text {
    margin-top: 60px;
    text-align: center;
    font-size: 1rem;
    line-height: 1.6;

    span {
        font-weight: bold;
    }
}
.problem-sub-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}


// 問題定義
@media (max-width: 375px) {

    .problem-title::before {
        width: 80%;
        left: 10%;
    }

    .problem-card {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 20px;
        padding: 40px 20px;
    }

    .problem-icon-wrap {
        width: 70%;
        height: 15vh;
    }

    .problem-text p {
        font-size: 0.75rem;
    }

    .problem-sub-title {
        font-size: 1.2rem;
    }
}