.teaser {
  position: fixed;
  inset: 0;
  z-index: 1000;
  animation: fadeOut 2s ease 4s forwards;

  &-bg {
    position: absolute;
    background-color: #FFFBEC;
    z-index: 1000;
    inset: 0;
  }

  &-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    z-index: 1000;
    text-align: center;

    h1 {
      letter-spacing: 3;
      font-weight: 400;
      opacity: 0;
      position: relative;
      animation: titleUp 2s ease 0.5s forwards;

      &::after {
        content: "";
        background-color: #FFF100;
        width: 100%;
        height: 6px;
        bottom: 0;
        left: 0;
        position: absolute;
        animation: titleUp 2s ease 0.5s forwards;
      }
    }
  }

  &-logo {
    position: absolute;
    bottom: 20px;
    left: 90%;
    z-index: 1000;
    width: 100px;
    height: 80px;

    img {
      width: 100%;
    }
  }
}


@keyframes titleUp {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}



.main-visual {
  width: 100%;
  height: 100vh;
  background-image: url(../img/pc1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  .main-visual-textarea {
    position: relative;
  }

  .textarea-top {
    color: #fff;
    position: absolute;
    bottom: 200px;
    left: 65%;

    h3 {
      margin-bottom: 20px;
    }
  }

  .textarea-bottom {
    color: #fff;
    position: absolute;
    bottom: 100px;
    left: 65%;
    font-size: 0.8rem;
    text-align: left;
  }
}