.voice {
padding: 80px 0;
background: #f5f5f5;

    .voice-title {
        text-align: center;
        font-size: 2.4rem;
        margin-bottom: 40px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 40%;
            height: 4px;
            background-color: #FFF100;
            top: 100%;
            left: 30%;
        }
    }

    .student-contents {
        display: flex;
        gap: 24px;
        overflow-x: auto;
        padding: 0 24px;
        scroll-snap-type: x mandatory;
    }

    .student-card {
        background: #fff;
        width: 480px;
        min-width: 480px;
        border-radius: 6px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.08);
        scroll-snap-align: start;
        padding: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .student-header {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: center;  //プロフィール横並び中央
        margin-bottom: 16px;

            img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            object-fit: cover;
            }

            .student-profile {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .student-name {
                font-weight: 600;
                margin-bottom: 4px;
            }

            .student-join {
                font-size: 0.9rem;
                color: #444;
            }
        }
}

/*  プロフィールと本文の「間」に線を入れる */
.student-text {
    width: 100%;
    border-top: 1px solid #999;
    margin-top: 16px;
    padding-top: 24px;

    display: flex;
    justify-content: center;     // 中央寄せ
    text-align: center;

    p {
        max-width: 90%;
        font-size: 0.95rem;
        line-height: 1.8;
        color: #333;
        margin: 0;
    }
    }

    @media screen and (max-width: 768px) {
        .student-card {
        min-width: 90%;
        width: 90%;
        }
}
}
